* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}

form:hover {
    cursor: pointer;
}

h3 {
    margin-bottom: 20px;
}

body {
    background-image: linear-gradient(to bottom, #2c3e50, #34495e, #1c2833);
    height: 100vh;
    font-family: sans-serif;
}

.container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: visibility 1s linear;
}

@keyframes visibility {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

form {
    display: block;
    width: 350px;
    background-color: #4c37e82a;
    padding: 3em;
    height: 400px;
    border-radius: 20px;
    border-left: 1px solid #4c37e82a;
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 50px -6px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
}

input {
    background-color: #3e33d891;
    width: 100%; /* Take full width of the container */
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-bottom: 15px;
    padding: 0 15px;
    outline: none; /* Remove default outline */
    color: #fff; /* Set text color to white */
}

input:hover {
    cursor: pointer;
}

input:focus {
    background-color: #3e33d8;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure icon is aligned properly */
    background-color: #3e33d891;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-bottom: 15px;
    padding: 0 10px; /* Adjust padding */
    transition: background-color 0.3s ease;
}

.password-container input:focus {
    background-color: #3e33d8;
}

.password-container:focus-within {
    background-color: #3e33d8;
}

#pas {
    width: calc(100% - 40px); /* Adjust width to accommodate the icon */
    border: none;
    outline: none;
    background-color: transparent;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: white; /* Icon color */
    display: flex;
    align-items: center;
    justify-content: center;
}

i {
    color: #333;
}

input {
    color: white;
}
